# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_NAME=absen
DB_USER=root
DB_PASSWORD=

# WhatsApp API Configuration
WA_API_URL=http://localhost:3000
WA_API_USERNAME=admin
WA_API_PASSWORD=04112000

# Server Configuration
PORT=3001
TIMEZONE=Asia/Jakarta
