RewriteEngine On

# =========================
# SUBDOMAIN ABSEN
# =========================
RewriteCond %{HTTP_HOST} ^absen\.smkassuniyah\.sch\.id$ [NC]
RewriteCond %{REQUEST_URI} !^/absen/public
RewriteRule ^(.*)$ /absen/$1 [L]

# =========================
# DOMAIN UTAMA (optional, biar rapi)
# =========================
RewriteCond %{HTTP_HOST} ^(www\.)?smkassuniyah\.sch\.id$ [NC]
RewriteRule ^$ /index.php [L]

